.editFormContainer {
  width: 300px;
  height: 130px;
  margin-left: 17%;
  padding: 40px 0;
}
.editForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.editAcceptButn {
  width: 40px;
  margin-left: 85px;
}
.editCloseButn {
  position: relative;
  left: 170px;
  top: -40px;
}
.editFormInput {
  margin: 10px 10px 5px;
}
